@import "variables";
@import "alignment";

.navbar{
    @include flex-prop-right;
}

#sec1{
    position: relative;
}

.box1{
    background-color: chartreuse;
    height: 200px;
    width: 200px;
}


